
<h2>Contacto</h2>
<h3>@ViewBag.Message</h3>

<address>
    www.github.com/jadosfer<br />
    <br />
    <abbr>"Linkedin":</abbr>
    https://www.linkedin.com/in/javier-r-fern%C3%A1ndez-molinari-89017848/
</address>


<div>
    @Html.ActionLink("Descargar CV", "Download")
</div>